@import './const';

* {
	box-sizing: border-box;
}

#root {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

body {
	font-family: $main-ff;
	font-size: $main-fs;
	color: $gray-main-color;
	overflow-y: scroll;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.container {
   max-width: 1200px;
   padding: 0px 15px;
   margin: 0px auto;
}

.circle {
   border-radius: 50%;
}

.logo {
	width: 70px;
}

.flex-wrapper {
   display: flex;
   justify-content: center;
	margin-top: 150px;
}

.unselectable {
	-webkit-touch-callout: none; 
	-webkit-user-select: none;  
	-khtml-user-select: none;   
	-moz-user-select: none;     
	-ms-user-select: none;       
	user-select: none;           
  }

