@import '../../stylesheet/const';

.search {
    @extend %flex-center;

    .wrapper {
        display: flex;
        align-items: center;
        position: relative;
        width: 400px;
    }
 
    .input {
        border: none;
        height: 35px;
        width: 100%;
        padding: 5px 53px 5px 10px;
        border-radius: 30px;
        border: 1px solid rgb(87, 87, 87);
        box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
    }

    .close {
        position: absolute;
        
        right: 32px;
        background-color: transparent;
        height: 100%;
        width: 20px;
        border: none;
        cursor: pointer;
        display: none;

        &.active {
            display: block;
        }
    }

    .close:hover {
        opacity: 1;
    }

    .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 10px;
        width: 2px;
        top: 13px;
        background-color: rgb(109, 109, 109);
    }

    .close:before {
        transform: rotate(45deg);
    }

    .close:after {
        transform: rotate(-45deg);
    }
 
    .submit {
        position: absolute;
        border: none;
        background-color: transparent;
        height: 100%;
        right: 0;
        @extend %flex-center;
        cursor: pointer;
    }
 
    &_image {
       width: 20px;
    }
 }