.search {
   
   .wrapper {
      display: flex;
      align-items: center;
      height: 22px;
   }

   .input {
      border: none;
      height: 100%;
   }

   .submit {
      border: none;
      background-color: #fff;
      height: 100%;
      cursor: pointer;
   }

   &_image {
      width: 20px;
   }
}