@import '../../../stylesheet/const';

.menu {
   .list {

      &__item {
         display: inline-block;
         
         &:hover {
            background-color: rgb(68, 68, 68);
         }
      }

      .link {
         color: white;
         text-decoration: none;
         font-size: $menu-fs;
         font-weight: 500;
         display: block;
         padding: 10px;
      }
   }

   .selected {
      background-color: rgb(68, 68, 68);
   }
}