@import '../../stylesheet/const';

.header {
   background-color: $header-bg-color;
   
   &__wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 100%;
   }
}