@import '../../stylesheet/const';

.main {
   margin-bottom: 50px;
}

.sport_menu {
   background-color: rgb(239, 255, 96);   
}

.top_menu {
   display: flex;
   justify-content: space-between;
   align-items: center;

   .sport_header {
      margin: 0;
      padding: 10px 0;
      font-size: 50px;
      color: rgb(92, 92, 92);
      font-style: italic;
   }

   .img {
      width: 150px;
      padding: 15px 0;
   }
}

.bottom_menu {
   background-color: rgb(129, 39, 39);
   
   .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

   }

   .menu_list {
      display: flex;
      
      &_item {
         font-size: $menu_fs;
         font-weight: 500;
         padding: 10px;
         position: relative;
         cursor: pointer;
         color: black;

         &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 25px;
            background-color: black;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
         }

         &:hover::after, &.active::after {
            content: '';
            position: absolute;
            width: 70%;
            height: 4px;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgb(0, 0, 0);
         }
      }
   }

   .burger {
      cursor: pointer;
      position: relative;
      width: 30px;
      height: 20px;
      
      & span {
         position: absolute;
         background-color: black;
         left: 0;
         width: 100%;
         height: 2px;
         top: 9px;
         transition: all 0.3s ease-in-out;
      }

      &.active span {
         transform: scale(0);
      } 

      &::before, &::after {
         content: '';
         background-color: black;
         position: absolute;
         width: 100%;
         height: 2px;
         left: 0;
         transition: all 0.3s ease-in-out;
      }

      &::before {
         top: 0;
      }

      &.active::before  {
         transform: rotate(45deg);
         top: 9px;
      }

      &.active::after {
         transform: rotate(-45deg);
         bottom: 9px;
      }

      &::after {
         bottom: 0;
      }
   }
}

.news {
   position: relative;

   .close_menu {
      position: absolute;
      background-color: rgb(49, 16, 16);
      top: 0;
      width: 100%;
      z-index: 88;
      display: none;

      &.active {
         display: block;
      }

      .menu_list_close {
         display: flex;
         flex-direction: column;
         flex-wrap: wrap;
         height: 200px;
         width: 100%;
         color: white;
   
         &_item {
            margin: 0 5px;
            padding: 10px;
            cursor: pointer;

            &:hover {
               background-color: rgb(146, 146, 146);
            }
         }
      }
   }

   .header_name_sport {
      font-size: $section_header-fs;
      margin: 0;
      padding: 30px 0 15px;
      color: $gray-main-color;
   }
}

.article_list {
   width: 100%;
   overflow: hidden;

   .article {
      width: 100%;
   }

   .link {
      text-decoration: none;
      color: $gray-main-color;
   }

   .link_header:hover {
      text-decoration: underline;
   }

   .main_article_description {
      line-height: 30px;
      margin-top: 5px;
   }
}

.pagination {
   margin-top: 30px;
}

.drop_down {
   display: flex;
   align-items: center;
   margin-top: 20px;

   .filter {
      font-weight: 700;
      margin-right: 10px;
      color: $gray-main-color;
      font-size: $header-fs;
   }
}