@import '../../stylesheet/const';

.article {
   flex-basis: 33.33%;
   overflow: hidden;

   &_wrapper {
      padding: 10px;
   }

   .link {
      font-size: $header-fs;
      color: $gray-main-color;
      text-decoration: none;
      line-height: 24px;

      .header {
         line-height: 30px;
      }

      .image {
         width: 100%;
         
         &:hover {
            filter: contrast(110%);
         }
      }

      .header:hover, .description:hover {
         text-decoration: underline;
      }

   }
}


.time{
   display: flex;
   align-items: center;

   &_img {
      width: 20px;
   }

   &_passed {
      font-size: 14px;
   }
}